<br/>
<footer id="FooterContainer" class="w3-container w3-topbar" >
<p>MGF, Dimili, Elamanchili, Visakhapatnam, Andhra Pradesh, India.<br/>
Mobile: +91 9640876423, +91 7995368233, +91 9912246129<br/>
WhatsApp <img src="{{ .Site.BaseURL }}images/whatsapp-logo.gif" style="height: 20px"/>: +971 506855467 (Orders & Enquiries)
</p>
<small><div class="w3-left-align" style="display: inline; float: left;"><span>&copy; Copyright All Rights Reserved.</span></div><div class="w3-right-align" style="display: inline; float: right;"><span>Prepared by <a href="http://skgadi.com/">SKGadi</a>.</span></div></small>
</footer>

</body>
</html>