</head>
<body>
<div id="HeaderContainer" class="w3-top">
<ul class="w3-navbar w3-white w3-left-align  w3-small w3-bottombar w3-padding-16">
	<li class="w3-hide-medium w3-hide-large w3-white w3-opennav w3-right">
		<a href="javascript:void(0);" onclick="myFunction()">☰</a>
	</li>
	<li><a href="/"><img src="{{ .Site.BaseURL }}images/logo.png" style="width: 90px;" /></a></li>
	<li class="w3-hide-small w3-right"><a href="#">CONTACT</a></li>
	<li class="w3-hide-small w3-right"><a href="#">CARRER</a></li>
	<li class="w3-hide-small w3-right"><a href="#">TEAM</a></li>
	<li class="w3-hide-small w3-dropdown-hover w3-right"><a href="#">BUSINESS <i class="fa fa-caret-down"></i></a>
	<div class="w3-dropdown-content w3-white w3-card-4">
        <a href="{{ .Site.BaseURL }}sri-krishna-dairy">SRI KRISHNA DAIRY</a>
        <a href="{{ .Site.BaseURL }}sri-krishna-dairy">ORGANIC FARMING</a>
        <a href="{{ .Site.BaseURL }}sri-krishna-dairy">CEMENT AND STEEL</a>
      </div>
	</li>
	<li class="w3-hide-small w3-right"><a href="{{ .Site.BaseURL }}about">ABOUT</a></li>
</ul>
<div id="GSKNavBar" class="w3-hide w3-hide-large w3-hide-medium">
  <ul class="w3-navbar w3-left-align w3-white w3-hover-shadow ">
    <li class="w3-border-bottom" ><a href="#">About</a></li>
    <li class="w3-border-bottom" ><a href="#">Link 2</a></li>
	<ul class="w3-border-bottom" ><li><a href="#">hi</a></li></ul>
    <li class="w3-border-bottom" ><a href="#">Link 3</a></li>
  </ul>
</div>
</div>
